#shipping.checkout-section.on
  %h2
    %span.label 1
    Shipping Address
  %hr
  .edit
    .button.secondary Edit
  .form-data
    = render partial: 'addresses/form'
  .info-data

#billing.checkout-section.off
  %h2
    %span.label 2
    Billing
  %hr
  .form-data
    = render partial: 'billing_form'
  .info-data
#review.checkout-section.off
  %h2
    %span.label 3
    Review & Submit
  .form-data
    = render partial: 'review_and_submit'
  .info-data
/ .small-10.large-6.columns
/   .div Shipping To:
/   .address
/     = collection_select :order, :address, current_user.addresses, :id, :to_s
/     = link_to 'Add new address', new_address_path, 'data-reveal-id' => 'address-modal', 'data-reveal-ajax' => 'true'

/ %div{style: "overflow:hidden;"}
/   .small-12
/     .right
/       .button Continue Shopping
/       .button Checkout
