<% if @song.errors.any? %>
  $("ul.form-errors").html('')
  <% @song.errors.full_messages.each do |error| %>
    $("ul.form-errors").append('<li><%= escape_javascript( error ) %></li>');
  <% end %>
  $("ul.form-errors").fadeIn()
<% else %>
  $('form#new_song .alert.alert-box').fadeOut();
  $("ul.form-errors").html('')
  $('form#new_song').prepend('<div class="alert-box success" data-alert style="display:none;">Successfully Added Song<a class="close" href="#">x</div>');
  $('form#new_song .success.alert-box').fadeIn();
  $('form#new_song .form-inputs input').val('');

  var new_song = "<%= escape_javascript( render(:partial => 'songs/track', :locals => {song: song}) ) %>"
  $("tbody#tracks").append(new_song);
  $('.qq-upload-success').fadeOut();
<% end %>