// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.confirmation-form {
  display: none;
  margin: auto;
}
#address-dropdown {
  background: url("down-arrow.png") no-repeat scroll 98% 12px #fff;
  -webkit-appearance: none!important;
  border: none;
  box-shadow: none!important;
  border: 1px solid #919191!important;
  font-size: 1.1em!important;
  font-weight: normal!important;
  text-align: left!important;
  padding: 8px 4% 8px 2%;
  cursor: pointer!important;
  cursor: pointer;
}

.checkout-section {
  overflow: hidden;
}

.on {
  .info-data {
    display: none;
  }
  .edit {
    display: none;
  }
  hr {
    display: none;
  }
}

.off {
  .form-data {
    display: none;
  }
  h2 {
    line-height: 1.4;
    color: #a5a5a5;
    font-weight: 300;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
  }
  .label {
    background-color: #a5a5a5;
  }
  hr {
    margin: -5px 0 10px 0;
  }
}

.edit {
  position: relative;
  float: right;
  margin-top: -55px;
}
.form-data {
  border: 1px solid #c4c4c4;
  overflow: hidden;
  padding: 10px 5px 5px 5px;
  border-radius: 10px;
}
#review-cart-items {
  background: transparent;
  border: 0px;
  width: 100%;
  tr {
    background: transparent;
  }
  td {
    padding: 5px 10px 5px 25px;
  }
  .item-image, .item-details {
    padding: 5px 5px 5px 5px;
  }
  .attribute, .sku {
    padding-top: 5px;
  }
  .title {
    font-weight: bold;
    font-size: 1em;
    color: #282626;
  }
  .name a{
    font-size: 1.225em;
    color: #101010;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
  .stock {
    color: #989898;
    font-size: 10px;
    font-weight: lighter;
  }
  .item-total {
    text-align: right;
  }
  span {
    font-size: 1em;
    color: #282626;
  }
}
#review-cart-total {
  background: transparent;
  border: 0px;
  -webkit-transform: translate3d(0,0,0);
  -webkit-perspective: 1000;
  font-size: 1em;
  width: 100%;
  margin-bottom: 15px;
  text-align: right;
  text-transform: capitalize;
  position: relative;
  margin-top: 10px;
  font-size: 110%;
  tr {
    background: transparent;
  }
  td {
  padding: 5px 5px 5px 0;
  font-size: .9em;
  color: #a5a5a5;
  }
  tr td:last-child {
  text-align: right;
  }
  .order-total td {
  color: #232323;
  font-size: 1.2em;
  font-weight: bold;
  }
}